body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: aliceblue;
    margin: 0;
    width: 500px;
    padding: 20px;
}
.option{
    padding: 5px 0;
}
/* .barrita{
    background-color: dodgerblue;
    border-radius: 4px;
    padding: 10px;
} */
.barra{
    background-color: deepskyblue;
    border-radius: 4px;
    padding: 10px;
}
/* .selecion{
    background-color: dodgerblue;
    border-radius: 4px;
   
    padding: 10px;
} */
  